/* Homepage and about page styles */
 @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Halant:wght@600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}
.divcontainer{
    display: flex;
    justify-content: center;
}
.inscription_name{
    display: flex;
    justify-content: center;
    font-size:48px ;
}
.inscription_motto{
   display: block;
   text-align: center;
   margin-top: 10px;
  
   font-size:21px ;
}
.lines{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 1px;
    color: #000;
    background-color: #000;
    margin-left: 5%;
     margin-top: 20px;
}

.benefit_header{
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-top: 20px;
}

/*.benefit_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6px;
}*/
.benefit_list{
    margin-left: 10%;
    margin-top: 5px;

}
.benefit_list:nth-of-type(1){
    margin-top: 20px;
}
.benefit_list span{
    margin-left: 20%;
    word-spacing: 5px;
}
.benefit_list_homepage{
    margin-left: 20%;
    margin-top: 7px;
}
.benefit_list_homepage span{
    margin-left: 20%;
    word-spacing: 10px;
}
.benefit_list_homepage:nth-of-type(1){
    margin-top: 20px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.to_about{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.to_about a {
    margin-left: 6px;
}
.signuporlogin{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #0000e3e0;
    color: #fff;
    font-size: 16px;
    font-family: 'Kaushan Script', cursive;
    cursor: pointer;
     margin: 0px 10px 30px 0px;
     box-shadow: none;
     border: none;
}
.action_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.table_button a{
    text-decoration: none;
    color: #fff;
}
.form_button a{
    text-decoration: none;
    color: #fff;
}
/*.signup_button{
    margin-left: 40%;
}
.login_button{
    margin-left: 7px;
}*/












/*Table styles*/
table{
    margin: auto;
    height: 100vh;
    width: 80%;
    margin-top: 5%;
}
table , th, td{
    border: 2px solid #000;
    border-collapse: collapse;
    padding: 20px;
}
th{
    font-size: 38px;
}






/* Form styles */

form{
    font-family: 'Halant', serif;
}

#form-body{
    background-color: #000;
}
#contact_card{
    background-color: #fff;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0% 5% 0% 5%;
}
.contact_card_heading{
    font-family: 'Halant', serif;
    font-size: 60px;
    font-weight: 600;
    word-spacing: 0.005em;
}
.contact_card_details{
    font-family: 'Halant', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 0% 5% 10%;
}
.label{
    font-size: 32px;
}
.sub_label{
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}
.contact_card_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0px 0px 0px;
}
.contact_card_username{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0px 0px 0px;
}
.contact_card_password{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0px 0px 0px;
}
.contact_card_retype_password{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: 40px 0px 0px 0px;
}
.contact_card_gender{
    display: flex;
    align-items: center;
    margin: 40px 0px 0px 0px;
}
.contact_card_gender_selector{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.contact_card_tech_skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0px 0px 0px;
}
.contact_card_tech_skills_selector{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.contact_card_phone_number{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0px 0px 0px;

}
.contact_card_email{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0px 0px 0px;
}
.contact_card_college{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0px 20px 0px;
}
.contact_card_button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_card_button_submit{
    width: 420px;
    height: 56px;
    border-radius: 5px 5px 5px 5px;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    background-color:  #155EEF;
    margin-left: 28vw;
}
input[type=text]{
    width: 400px;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    border: 0.2px thin #000;
    padding: 0 0 0 15px;
    background-color: #fff;
}
input[type=password]{
    width: 400px;
    height: 50px;
    border-radius: 5px 5px 5px 5px;  
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500; 
    border: 0px thin #000;
    padding: 0 0 0 15px;
}
input[type=tel]{
    width: 400px;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    border: 0.5px thin #000;
    padding: 0 0 0 15px;
    
}
input[type=email]{
    width: 400px;
    height: 50px;
    border-radius: 4px 4px 4px 4px;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    border: 0.5px thin #000;
    padding: 0 0 0 15px;
}
input[type=radio]{
    width: 20px;
    height: 20px;
}
input[type=checkbox]{
    width: 20px;
    height: 20px;
}
select{
    width: 420px;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    border: 0.5px thin #000;
    padding: 0 0 0 15px;
}

#name{
    border: 0.5px thin #000;
    margin-left: 19.5vw;
   
}
#username{
    margin-left: 15vw;
}
#password{
    margin-left: 16vw;
}
#reTypePassword{
    margin-left: 6.2vw;
}
.contact_card_gender_selector{
   margin-left: 18.5vw;
}
.contact_card_tech_skills_selector{
    margin-left: 13vw;
}
#number{
    margin-left: 10vw;
}
#email{
    margin-left: 20.4vw;
}
.contact_card_college_selector{
    margin-left: 19vw;
}





@media(max-width:900px){

    form{
        font-family: 'Halant', serif;
    }
    #form-body{
        display: flex;
        flex-direction: column;
        background-color: #000;
        justify-content: center;
        margin: 0;
        width: 100%;
    }
    #contact_card{
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .contact_card_details{
        margin: 0;
    }
    .contact_card_heading{
        font-family: 'Halant', serif;
        font-size: 50px;
        font-weight: 600;
        word-spacing: 0.005em;
    }
    .label{
        font-size: 22px;
    }
    .sub_label{
        font-size: 14px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
    }
    .contact_card_name{
        display: flex;
        flex-direction: column;
        align-items: inherit;
        gap: 10px;
        margin-bottom: 30px;
    }
    .contact_card_username{
        display: flex;
        flex-direction: column;
        align-items: inherit;
        gap: 10px;
        margin-bottom: 30px;
    }
    .contact_card_password{
        display: flex;
        flex-direction: column;
        align-items: inherit;
        gap: 10px;
        margin-bottom: 30px;
    }
    .contact_card_retype_password{
        display: flex;
        flex-direction: column;
        align-items: inherit;
        gap: 10px;
        margin-bottom: 30px;
    }
    .contact_card_gender{
        display: flex;
        flex-direction: column;
        align-items: inherit;
        margin-bottom: 30px;
    }
    .contact_card_tech_skills{
        display: flex;
        flex-direction: column;
        align-items: inherit;
        margin-bottom: 30px;
    }
    .contact_card_email{
        display: flex;
        flex-direction: column;
        align-items: inherit;
        gap: 10px;
        margin-bottom: 30px;
    }
    .contact_card_college{
        display: flex;
        flex-direction: column;
        align-items: inherit;
        gap: 10px;
    }
    .contact_card_phone_number{
        display: flex;
        flex-direction: column;
        align-items: inherit;
        gap: 10px;
        margin-bottom: 30px;
    }
    .contact_card_button_submit{
        width: 100%;
        height: 50px;
        border-radius: 5px 5px 5px 5px;
        font-size: 16px;
        font-family: 'Manrope', sans-serif;
        background-color:  #155EEF;
        margin: 0;
        margin-top: 20px;
        margin-bottom:10px ;
    }
    .contact_card_tech_skills_selector{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .contact_card_gender_selector{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    input[type=text]{
      width: 100%;
        height: 50px;
        margin: 0;
        padding: 0;
    }
    input[type=tel]{
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0;
    }
    input[type=email]{
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0;
    }
    input[type=password]{
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0;
    }
    select{
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0;
    }
    #reTypePassword{
        border: 2px thin black;
    }
    #name{
        border: 0.5px thin #000;
        margin-left: 0;
       
    }
    #username{
        margin-left: 0;
    }
    #password{
        margin-left: 0;
    }
    #reTypePassword{
        margin-left: 0;
    }
    .contact_card_gender_selector{
       margin-left: 0;
    }
    .contact_card_tech_skills_selector{
        margin-left: 0;
    }
    #number{
        margin-left: 0;
    }
    #email{
        margin-left: 0;
    }
    .contact_card_college_selector{
        margin-left: 0;
    }

}



